*{
    overflow: visible;
}

body {
    background-image: url('../imagenes_pagina/cielo.gif');
    background-repeat: repeat; 
    background-size: cover;
    display: flex;
    margin: 0.1px;
    height: 100vh; 
    overflow: auto;
    margin-left: 30px;
}


.Form {
    position: fixed; 
    top: 20px; 
    right: 150px; 
    z-index: 999; 
}

.Form .form {
    width: 20px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.carrito {
    position: fixed; 
    top: 20px; 
    right: 15px; 
    z-index: 999; 
}

.carrito .cesta {
    width: 26px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.iniciar {
    position: fixed; 
    top: 20px; 
    right: 15px; 
    z-index: 999; 
}

.iniciar .sesion {
    width: 21px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.Chat {
    position: fixed; 
    top: 13px; 
    right: 105px; 
    z-index: 999; 
}

.Chat .chat {
    width: 35px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.imagen_juego{
    width: 120px;
    height: 160px;
}

.producto{
    margin: 30px;
    margin-top: 30px;
    margin-left: 30px;
    top: 10px; 
    left: 10px; 
    width: 555px; 
    height: auto; 
}

#buscar {
    position: fixed; 
    top: 10px; 
    left: 10px; 
}
